@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Roboto:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F4FAFD;
  color: #052E4B;
  font-family: 'Roboto', Arial, sans-serif;
}
